@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Open+Sans:wght@300&display=swap");

:root {
  --sage: #9eaa9e59;
  --textColor: #2c2c2c;
}
* {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-weight: 300;
  color: var(--textColor);
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  row-gap: 3rem;
  grid-template-rows: 7rem 30rem 50rem 40rem 5rem;
}

.nav_list {
  list-style: none;
}

.nav_link {
  font-family: "Lora", serif;
  text-transform: lowercase;
  text-decoration: none;
  color: var(--textColor);
}

.hidden {
  display: none;
}
.showElement {
  opacity: 0;
}

.header_title h1 {
  font-family: "Lora", sans-serif;
  text-transform: lowercase;
}
.header_subtitle h2 {
  text-transform: uppercase;
}

.header_primary {
  display: block;
  font-weight: 400;
  letter-spacing: 0.5rem;

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
.header_secondary {
  display: block;
  font-weight: 300;

  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.header_quote {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--sage);
}
.header_quote h2 {
  font-family: "Lora", sans-serif;
  text-transform: lowercase;
}

img {
  max-width: 100%;
}

.about {
  grid-row: 3 / 4;
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 1rem;
}

.about_img {
  grid-area: 1 / 1 /2 /2;
  display: flex;
  align-items: center;
}

.about_text {
  grid-area: 1 / 2 / 2 / 3;
}

.about_text h2 {
  font-family: "Lora", serif;
  text-transform: lowercase;
  text-align: center;
}

.about_resume {
  grid-area: 2 / 1 / 3 / -1;
  display: grid;
  column-gap: 1rem;
  grid-template-columns: 60% 40%;
  padding: 1rem;
  font-size: 0.6rem;
  background-image: linear-gradient(320deg, var(--sage), transparent);
}
.experience {
  grid-area: 1 / 1 /2 / 2;
  margin-bottom: 1rem;
}
.experience_company {
  margin: 0.5rem;
}
.about_resume h2 {
  font-family: "Lora", serif;
  text-transform: lowercase;
}

.education {
  grid-area: 2 / 1 / 3 / 2;
}
.education_level {
  margin: 0.5rem;
}

.skills {
  grid-area: 1 / 2 / 2 / 3;
}
.technical_skills {
  margin: 0.5rem;
}
.tools {
  margin: 0.5rem;
}
.certificates_list {
  margin: 0.5rem;
}

.projects {
  grid-area: 4 / 1 / 5 / -1;
  padding: 1rem;
  align-self: center;
}
.projects h2 {
  font-family: "Lora", serif;
  text-transform: lowercase;
  text-align: center;
}

.projects_grid {
  display: grid;
}

.contact {
  grid-area: 5 / 1 / 6 /-1;
  background-color: #b8c2be;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 0.6rem;
}
.contact_icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.icon_width {
  width: 10%;
}
.img_icon {
  max-width: 100%;
}
.contact_email-phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact_email-phone p {
  font-family: "Lora", serif;
  color: white;
}
.contact_email-phone a {
  color: white;
  text-decoration: none;
}
.img_box {
  width: 50%;
  margin: 0 auto;
  /* box-shadow: 4px 4px 5px #9faea3; */
}
.img_width {
  max-width: 100%;
}
.project {
  text-align: center;
  margin: 1rem 0 0 0;
}

@keyframes moveInLeft {
  from {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  from {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
/* extrasmall */
@media only screen and (max-width: 400px) {
  .nav {
    grid-column: 1 / -1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .nav_btn {
    font-family: "Lora", sans-serif;
    text-transform: lowercase;
    display: block;
    border: none;
    border-radius: 50%;
    background-color: var(--sage);
    color: inherit;
    /* margin: 5px 0; */
    cursor: pointer;
    padding: 30px 20px;
    position: fixed;
    margin: 0.5rem 3rem 0;
  }
  .nav_btn:hover {
    color: white;
  }

  .nav_wraper {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: #9faea3;
  }
  .nav_list {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .nav_link {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-bottom: none;
    margin: 0.5em;
  }

  .nav_item {
    font-size: 1rem;
    letter-spacing: 0.15rem;
    margin-top: 1rem;
  }

  .header {
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: 50% 30% 20%;
    padding: 1rem 0;
  }

  .header_side-img {
    grid-row: 1 /2;
  }
  .header_side-intro {
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header_side-name {
    text-align: center;
  }
  .header_title h1 {
    font-size: 2rem;
    margin: 0;
  }
  .header_subtitle h2 {
    font-size: 0.7rem;
    margin: 0;
  }

  .header_img {
    max-width: 100%;
  }

  .header_quote h2 {
    font-size: 0.9rem;
    margin: 0;
  }

  .about_text {
    margin: 0 1rem;
    font-size: 0.8rem;
  }

  .about_text h2 {
    margin-bottom: 0.5rem;
  }
  .icon_width {
    width: 20%;
  }
}

/* small */
@media screen and (min-width: 400px) {
  body {
    grid-template-rows: 7rem 40rem 70rem 42rem 5rem;
    row-gap: 3rem;
  }
  .nav {
    display: flex;
    align-items: end;
    justify-content: end;
  }
  .nav_btn {
    display: none;
  }
  .nav_wraper {
    display: flex;
    justify-content: end;
    padding: 1rem 0.5rem;
  }
  .nav_list {
    display: flex;
    list-style: none;
  }

  .nav_link {
    padding: 1rem;
  }

  .header {
    grid-row: 2 / 3;
    display: grid;
  }

  .header_side-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header_side-intro {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header_side-name {
    text-align: center;
  }
  .header_title h1 {
    font-size: 2rem;
  }
  .header_subtitle h2 {
    font-size: 0.8rem;
  }
  .header_quote {
    grid-column: 1 / -1;
  }
  .header_quote h2 {
    font-size: 0.8rem;
  }
  .about_img {
    justify-content: center;
    grid-area: 1 / 1 /2 /2;
    display: flex;
    align-items: center;
  }

  .about_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
    font-size: 0.8rem;
  }

  .about_text p {
    margin: 1rem 0;
  }
  .about_resume {
    font-size: 0.8rem;
  }
  .contact {
    font-size: 0.8rem;
    grid-template-columns: 60% 40%;
  }
  .email_phone {
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
  }
  .contact_icons {
    justify-content: center;
    gap: 1rem;
  }
  .projects {
    justify-content: space-around;
  }
}
/* small-medium */
@media screen and (min-width: 600px) {
  body {
    grid-template-rows: 7rem 25rem 80rem 20rem 5rem;
  }
  .nav_btn {
    display: none;
  }
  .nav {
    display: flex;
    justify-content: end;
    align-items: end;
  }
  .nav_list {
    display: flex;
    justify-content: center;
  }
  .nav_item {
    padding-right: 2rem;
    font-size: 1rem;
  }
  .header {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 85% 15%;
  }
  .header_side-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header_side-intro {
    display: flex;
    align-items: center;
  }
  .header_side-intro h1 {
    font-size: 1.7rem;
  }
  .header_side-intro h2 {
    font-size: 0.9rem;
    text-align: center;
  }
  .header_quote {
    grid-column: 1 / -1;
  }
  .header_quote h2 {
    font-size: 1.2rem;
  }
  .about {
    grid-template-columns: 50% 50%;
    row-gap: 2rem;
  }
  .about_img {
    display: flex;
  }
  .about_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
  }
  .about_text h2 {
    font-size: 1.2rem;
  }
  .about_text p {
    font-size: 1rem;
    margin: 1rem 0;
  }
  .about_resume {
    font-size: 0.9rem;
  }

  .contact_icons {
    justify-content: center;
  }
  .contact_email-phone {
    flex-direction: row;
    justify-content: center;
    font-size: 0.8rem;
  }
  .contact_phone {
    padding-left: 1rem;
  }
  .icon_width {
    width: 10%;
    padding: 1rem;
  }
  .projects_grid {
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  }
}
/* medium */
@media screen and (min-width: 768px) {
  body {
    grid-template-rows: 7rem 30rem 80rem 30rem 5rem;
  }
  .nav_link {
    font-size: 1.2rem;
  }
  .header_side-intro h1 {
    font-size: 2.5rem;
    margin-left: -6rem;
  }
  .about_text h2 {
    font-size: 1.6rem;
  }
  .projects h2 {
    font-size: 1.6rem;
  }
}
/* medium-large */
@media screen and (min-width: 1024px) {
  body {
    grid-template-rows: 7rem 40rem 90rem 40rem 7rem;
    row-gap: 4rem;
  }

  .header_side-img {
    justify-content: flex-start;
  }
  .header_side-intro h1 {
    margin-left: -11.5rem;
    font-size: 3rem;
  }

  .header_side-intro h2 {
    font-size: 1.2rem;
  }
  .about_text {
    padding: 0 5rem;
  }
  .about_text h2 {
    font-size: 2rem;
  }

  .projects h2 {
    font-size: 2rem;
  }
}

/* large */
@media screen and (min-width: 1440px) {
  .nav_link {
    font-size: 1.5rem;
  }
  .header_quote h2 {
    font-size: 1.5rem;
  }
  .header {
    row-gap: 5rem;
  }
  .header_side-img {
    align-items: stretch;
  }
  .header_side-intro {
    justify-content: center;
  }
  .about {
    row-gap: 0;
  }
  .about_img {
    margin: 3rem 0;
  }
}
